<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile - {{ user_profile.username }}</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <h1>User Profile - {{ user_profile.username }}</h1>
        <p>Email: {{ user_profile.email }}</p>
        <h2>Owned Cards</h2>
        <ul>
            {% for card in user_cards %}
                <li>
                    <img src="{{ card.image_url }}" alt="{{ card.name_character }}">
                    <h3>{{ card.name_character }}</h3>
                    <p>XP Points: {{ card.xp_points }}</p>
                    <p>Price: ${{ card.price }}</p>
                    <a href="{% url 'sell_one_card' card.id user_profile.id %}">Sell</a>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
</body>
</html>
