<!DOCTYPE html>
<html>
<head>
    <title>Card Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="card">
        <img src="{{ card.image_url }}" alt="{{ card.name_character }}">
        <h2>{{ card.name_character }}</h2>
        <p>Species: {{ card.species }}</p>
        <p>House: {{ card.house }}</p>
        <p>Date of Birth: {{ card.date_of_birth }}</p>
        <p>Patronus: {{ card.patronus }}</p>
        <p>Price: ${{ card.price }}</p>
        <p>XP Points: {{ card.xp_points }}</p>
        {% if card.current_owner %}
            <p>Current Owner: {{ card.current_owner.username }}</p>
        {% else %}
            <p>Available for purchase</p>
            <a href="{% url 'buy_one_card' card.id user.id %}">Buy</a>
        {% endif %}
    </div>
</body>
</html>
