<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a href="{% url 'petpro:signup_owner' %}">Créer un compte Propriétaire</a>
    <title>Signup</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <h2>Créer un compte Propriétaire</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <button type="submit">Créer le compte</button>
    </form>
    {% endblock %}
</body>
</html>